$list-shadow: 0 0.5em 1em -0.125em rgba(#000, 0.1), 0 0px 0 1px rgba(#000, 0.02);

.list-item {
    text-align: left;
    min-height: 64px;
    max-height: 100px;
    list-style: none;
    transition: all 0.5s;
}

.list-item img {
    float: left;
    width: 3rem;
    height: auto;
    margin-right: 1rem;
}

.list-item p {
    font-size: 14px;
    margin: 0;
}

#playlist {
    width: 100%;
    max-height: 50vh;
    margin-bottom: 10px;
    overflow-y: scroll;
    display: inline-block;
}

.playlist-img {
    width: 64px;
    height: 64px;
}