::-webkit-scrollbar {
    width: 0px;
}

a:active {
    color: black;
}

.pointer {
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@import 'partials/transitions';
@import 'partials/list';
@import 'partials/navbar';
@import 'partials/modal';
@import 'partials/card';